@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --cor-primaria: #43766C;
    --cor-secundaria: #F8FAE5;
    --cor-terciaria: #B19470;
    --cor-hover: #76453B;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
}

.apresentacao {
    display: flex;
    align-items: center;
    gap: 82px;
    justify-content: space-between;
    padding: 5% 15%;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.tituloDestaque {
    color: var(--cor-terciaria);
}

.apresentacao__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao_botao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_botao_subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__botao__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    padding: 21.5px 0;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__botao__link:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem{
    width: 50%;
}

.rodape {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}